.nav-bg-color{
  background-color: #FF9900;
  height: 50px;
}
.sub-nav-bg-color{
  background-color: #000000;
  height: 40px;
}
#account-container{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:400px;
}

#listing-container{
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width:800px;
}

#btn-special-rapidvit-color{
  color: #000000;
  background-color: #dddd;
}

#nav-dropdown-custom{
  color: white;
}
@media screen and (max-width: 992px) {
  .nav-bg-color{
    background-color: #FF9900;
    height: 70px;
    padding-bottom: 10px;
  }
}
button#uncontrolled-tab-example-tab-listings{
  font-weight: bold;
  color: #000000;
}
button#uncontrolled-tab-example-tab-account-setting{
  font-weight: bold;
  color: #000000;
}

button#uncontrolled-sub-tab-example-tab-create-listings{
  font-weight: bold;
  color: #000000;
}
button#uncontrolled-sub-tab-example-tab-modify-listing{
  font-weight: bold;
  color: #000000;
}